; Data and results paths for data reduction
; Use "%instrum" where the instrument name is located in your path 
; (If found, %instrum will be replaced by nomic or lmircam depending on the instrument)
DATA_PATH1    '/Volumes/hosts_data/LBTI/%instrum/'              ; Primary data directory
DATA_PATH2    '/Volumes/LaCie/data/LBTI/%instrum/'                       ; Secondary data directory
RESULT_PATH1  '/Volumes/hosts_results/'              ; Primary result directory
RESULT_PATH2  '/Volumes/LaCie/nodrs/results/'                            ; Secondary result directory
